<div id="about-bot" class="jumbotron pt-5 pb-3">
  <div class="row">
    <div class="col-sm-12 col-md-3 mb-4">
      <a href="{{bot_url}}">
        <img src="{{bot_avatar_url}}" alt="" class="img-thumbnail">
      </a>
    </div>
    <div class="col-sm-12 col-md-9 ">
      <h1 class="display-4">{{bot_username}}</h1>
      <pre><code>@bot@{{project_name}}.glitch.me</code></pre>
      <p class="lead">{{bot_description}}</p>
    </div>
  </div>
</div>