<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{page_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page_title}}</title>
  <meta property="og:title" content="{{page_title}}" />
  <meta property="og:description" content="{{page_description}}" />
  <meta property="og:type" content="website" />
  <meta name="twitter:title" content="{{page_title}}">
  <meta name="twitter:description" content="{{page_description}}">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="alternate" href="https://{{project_name}}.glitch.me/feed" type="application/atom+xml" title="Atom feed">
  <link rel="self" href="https://{{project_name}}.glitch.me/feed">
  <link rel="hub" href="https://{{project_name}}.glitch.me/pubsub">
  <link rel="stylesheet" href="https://{{project_name}}.glitch.me/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://{{project_name}}.glitch.me/styles.css">
  <!-- TODO: Use favicon-generator.org to create favicons. -->
  <!--
  <link rel="shortcut icon" href="TODO:URL"/>
  <link rel="apple-touch-icon" sizes="57x57" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="60x60" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="72x72" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="76x76" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="114x114" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="120x120" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="144x144" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="152x152" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="180x180" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="192x192"  href="TODO:URL">
  <link rel="icon" type="image/png" sizes="32x32" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="96x96" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="16x16" href="TODO:URL">
  -->
  <link rel="manifest" href="TODO:URL">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css">
</head>
<body>
  <main id="app">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{{body}}}
  </main>
  <div class="container-fluid">
<!--  
    <footer>
        <p>
          Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>.
          <a href="https://glitch.com/edit/#!/{{ project_name }}">View source on Glitch.</a>
        </p>
  </footer>
-->
  </div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://{{project_name}}.glitch.me/js/helpers.js"></script>
  <script src="https://{{project_name}}.glitch.me/js/scripts.js"></script>
</body>
</html>