<div class="container pb-5">
  {{> header }}
  
  {{#each posts}}
    <div class="card mt-4">
      <!-- <img class="card-img-top" src="{{this.thumbnail_url}}" alt=""> -->
      <div class="card-body">
        <!-- <h5 class="card-title" title="{{this.date_formatted}}">{{this.date}}</h5> -->
        <p class="card-text">{{this.content}}</p>
      </div>
      <div class="card-footer text-muted">
        <a href="/post/{{this.id}}" title="{{this.date}}">{{this.date_formatted}}</a>
        {{#if ../is_admin}}
        <a title="Delete this post" class="btn btn-sm btn-secondary float-right" href="/delete-post/{{this.id}}">Delete</a>
        {{/if}}
      </div>
    </div>
  {{/each}}

  {{#if show_pagination}}

    <div class="mt-5">
      <ul class="pagination">

        {{#if show_previous_page}}
            <li class="page-item">
              <a class="page-link" href="/?page={{previous_page}}">Previous</a>
            </li>
        {{/if}}  

        {{#for 1 page_count 1}}
        <li class="page-item
            {{#equals ../current_page this}}
                active
            {{/equals}}
        ">
          <a class="page-link" href="/?page={{this}}">{{this}}</a>
        </li>

        {{/for}}

        {{#if show_next_page}}
            <li class="page-item">
              <a class="page-link" href="/?page={{next_page}}">Next</a>
            </li>
        {{/if}}        

      </ul>
    </div>
  {{/if}}

</div>