<div class="container pb-5">
  {{> header }}
  {{#if no_posts}}
  <p class="text-muted">This bot hasn't posted yet.</p>
  {{/if}}  
  {{#each posts}}
    <div class="card mt-4">
      {{#if this.attachment}}
        <a href="/post/{{this.id}}" title="{{this.date}}">
          <img class="card-img-top" src="{{this.attachment.0.url}}" alt="">
        </a>
      {{/if}}
      {{#equals this.type "Note"}}
        {{#if this.content}}
          <div class="card-body">
            <!-- <h5 class="card-title" title="{{this.date_formatted}}">{{this.date}}</h5> -->
            <p class="card-text">{{{this.content}}}</p>
          </div>
        {{/if}}
      {{/equals}}
      <div class="card-footer">
        <a href="/post/{{this.id}}" title="{{this.date}}" class="post-date">{{this.date_formatted}}</a>
        {{#if ../is_admin}}
        <a data-confirm="Are you sure you want to delete this post?" title="Delete this post" class="btn btn-secondary btn-sm float-right" href="/delete-post/{{this.id}}">Delete</a>
        {{/if}}
      </div>
    </div>
  {{/each}}
  {{#if has_posts}}
    {{#if is_admin}}
    <div class="row mt-5">
      <div class="col-sm-12 col-md-8">
        <a data-confirm="Are you sure you want to delete all posts?" title="Delete all posts" class="btn" href="/delete-post/all">Delete all posts</a>
      </div>
    </div>
    {{/if}}  
  {{/if}}  
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8">
    {{#if show_pagination}}
      <div>
        <ul class="pagination flex-wrap">
          {{#if show_previous_page}}
              <li class="page-item">
                <a class="page-link" href="/?page={{previous_page}}">Previous</a>
              </li>
          {{/if}}
          {{#for 1 page_count 1}}
          <li class="page-item
              {{#equals ../current_page this}}
                  active
              {{/equals}}
          ">
            <a class="page-link" href="/?page={{this}}">{{this}}</a>
          </li>
          {{/for}}
          {{#if show_next_page}}
              <li class="page-item">
                <a class="page-link" href="/?page={{next_page}}">Next</a>
              </li>
          {{/if}}
        </ul>
      </div>
    {{/if}}
    </div>
    <div class="col-sm-12 col-md-4 text-right">
      <a href="/about">What is this?</a>
      {{#if is_admin}}
        <a href="/admin/logout">Log out</a>
      {{else}}
        {{#if show_admin_link}}
          <a href="/admin">Admin</a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
