<div class="container pb-5">
  {{> header }}
    <div class="card mt-3">
      {{#equals post.type "Note"}}
        <div class="card-body">
          <h5 class="card-title" title="{{post.date_formatted}}">{{post.date}}</h5>
          {{#if post.content}}
            <p class="card-text">{{post.content}}</p>
          {{/if}}        

          {{#each post.attachment}}
            <p><a href="{{this.url}}"><img src="{{this.url}}"></a></p>
            <p>{{this.content}}</p>
          {{/each}}        
        </div>
      {{/equals}}     
    </div>
    <p class="mt-4">
      <a class="btn btn-primary" href="{{bot_url}}">Main page</a>
      {{#if is_admin}}
      <a data-confirm="Are you sure you want to delete this post?" title="Delete this post" class="btn btn-secondary" href="/delete-post/{{post.id}}">Delete</a>
      {{/if}}
    </p>
</div>
